<mat-toolbar>
  <span>Just A Picture Diary</span>
  <span class="navbar-spacer"></span>
  <button
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >Home
  </button>
  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >Store
  </button>
  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >About Us
  </button>
  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >Contact Us
  </button>
  <button
    mat-raised-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >Sign In
  </button>
</mat-toolbar>
